.App {
  text-align: center;
 
  text-align: center;
}

body {
  background-color: #67595e;
}

h1 {
  text-align: center;
  color: bisque;
}

form {
  display: block;
  margin: 0, auto;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}